/* Navigation Bar */

/*Button*/
.button1{
 display:inline-block;
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.2s;
}
.button1:hover{
 color:#000000;
 background-color:#FFFFFF;
}
/* Body */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}
.name {
  font-style: normal;
  font-weight: bold;
}
/* Table */
.table-text {
  padding: 0 20px 0 20px;
  margin: 0 15px 0 15px;
  text-align: center;
}

.table-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5rem;
}
.nav-bar-text {
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: sans-serif;
}
.small-text {
  font-size: 2rem;
  font-family: sans-serif;
  font-style: normal;
  margin: 0;
}
.company-logo {
  width:  150px;
  height: 100px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: right;
}
/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
h2 {
  color : #ff6600;
  font-size: 3rem;
}
h1 {
  font-size: 4rem;
}
h3 {
  color : #ff6600;
}
body {
    background-image: url("E:/Projects/Full Stacks/HTML - Personal Site/CV/images/willian-justen-de-vasconcellos-jUCQRQeRs3k-unsplash.jpg");
    background-size: cover;
    font-family: "Zen", sans-serif;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

hr {
  border-color : gray;
  border-width: 8px;
  border-style : none;
  border-top-style: dotted;
  width : 10%;
}
img {
  height : 200px;
}

p {
  font-family: "Zen", sans-serif;
  font-size: 1rem;
}

li {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.big-text {
  font-size: 3rem;
  text-align: center;
}

.medium-text {
  font-size: 2rem;
  text-align: center;
  font-weight: lighter;
}

.name-text{
  color : #ff6600;
}

.highlighted-text {
  font-size: 2rem;
  padding: 0 10px 0 10px;
}

.skill-text {
  font-size: 1.5rem;
}

.title {
  font-size: 2rem;
  color: #ff6600;
  margin: 5px, 7px, 5px, 7px;
  
}